body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgb(170, 46, 116), rgb(125, 26, 194));
  height: 100%;
  margin: 0;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  overflow: auto;
}

.lock-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.container-paint{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
ul {
  margin: 0;
  padding: 0;
}

header {
  min-height: 100px;
  color: #ffffff;
  padding: 10px;
  box-shadow: inset -2px 2px 20px rgb(36, 7, 73);
}

button:focus {
  outline: 0;
}


/* Logo */
header #logo {
  float: left;
  margin-top: auto;
  float: left;
  margin-left: 85px;
  font-weight: bold;
}



/* nav */
header li {
  float: left;
  display: inline;
}

header span {
  font-size: 12px;
  padding-left: 20px
}

header nav {
  float: right;
  margin-top: 30px;
  margin-right: 100px;
  min-width: 100px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 20px 0 20px;
  padding: 3px 0 3px 0;
  border-bottom: 2px solid transparent;
  transition: all .2s;
}

a:hover {
  color: rgb(44, 18, 77);
}

#onpage {
  color: rgb(44, 18, 77);
}

/* Paint Option Buttons */
.b {
  width: 60px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 20px;
  color: white;
  background-color: rgb(56, 27, 93);
  font-family: Cambria;
  border: 2px solid transparent;
  box-shadow: 2px 2px 10px rgb(36, 7, 73);
  transition: all 300ms;
}

.b:hover {
  border-bottom: 2px solid #ffffff;
}

.size{
  /*position: relative;*/
}
.op{
  position: relative;
}

.margin-top {
  transform: translateY(47px);
}
.margin-top:hover{
  transform: translateY(47px);
}

.clicked_button {
  border-bottom: 2px solid #ffffff;
}
.outline{
  background: rgba(255,255,255,.4);
  box-shadow: 2px 2px 10px rgb(36, 7, 73);
  padding: 40px;
  border-radius: 10px;
  display: none;
  z-index: -1;
  position: absolute;
  width: 450px;
  top: 150px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.shown{
  display: block;
  animation-timing-function: cubic-bezier(0.24, 0.3, 0.56, 1.3);
  animation-name: scale-up;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

#b1 i{
  color: white;
}
#b1{
  cursor: pointer;
}

#b2 {
  cursor: pointer;
  margin-top: 50px;
}
#b3{
  cursor: pointer;
  margin-top: 100px;
}

#more {
  cursor: col-resize;
  float: right;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}



#more:hover {
  color: rgb(166, 137, 203);
}

.button_wider {
  width: 300px;
  margin-bottom: 200px;
  justify-content: center;
}

.middle {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Color Stuff */
.color {
  perspective: 5;
  transition: all 300ms;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 20px;
  animation-name: fade-in;
  animation-timing-function: cubic-bezier(0.67, 1.8, 1, 1);
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

#blue {
  background: blue;
  float: left;
  margin-left: 10px;
}

#green {
  background: green;
  float: left;
  margin-left: 30px;
}

#red {
  background: red;
  float: right;
  margin-right: 10px;
}

#yellow {
  background: yellow;
  float: right;
  margin-right: 30px;
}

#gray {
  background: gray;
  float: left;
  margin-top: 45px;
  margin-left: -90px;
}

#black {
  background: black;
  float: left;
  margin-top: 45px;
  margin-left: -30px;
}

#HotPink{
  background: HotPink;
  float: left;
  margin-top: 45px;
  margin-left: 25px;
  position: absolute;
}

#white {
  background: white;
  margin-top: 45px;
  float: left;
  position: absolute;
  margin-left: 85px;
}

/* Picture Stuff */
#pics {
  height: 100vh;
}
.scroll{
  display: block;
  margin-top: 20vh;
  overflow: hidden;
  border-radius: 30px;
  height: 450px;
  width: 650px;
  margin: 20px auto;
  text-align: center;
}
.control{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  width: 30%;
  min-width: 200px;
  display: block;
  background: rgb(213, 177, 235);
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(36, 7, 73);
  border: 0;
  box-shadow: inset 2px 2px 10px rgb(36, 7, 73);
}
.pag{
  border-radius: 3px;
  font-size: 18px;
  margin-top: 7px;
  display: inline-block;
}
.back{
  float: left;
  padding: 0 20px;
  border-radius: 10px;
  transition: all 300ms;
  cursor: pointer;
  height: 100%;
  padding: 5px 20px;
}
.next{
  float: right;
  padding: 0 20px;
  border-radius: 10px;
  transition: all 300ms;
  cursor: pointer;
  height: 100%;
  padding: 5px 20px;
}
.back:hover{
  box-shadow: 1px 1px 10px rgb(36, 7, 73);
  background: rgb(223, 187, 245);
}
.next:hover{
  box-shadow: 1px 1px 10px rgb(36, 7, 73);
  background: rgb(223, 187, 245);
}

.pic {
  border: 2px solid rgb(213, 177, 235);
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  height: 440px;
  visibility: hidden;
}


.current_pic{
  animation-name: fade-in-2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.go_away{
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

/* Memory Stuff */


/*To Do*/

/* Surprise */

.map{
  border-radius: 40px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.item{
  width: 100px;
  height: 100px;
  color: #429be4;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
  text-align: center;
  background:  rgba(0,0,0,.6);
  justify-content: center;
  padding: 40px;
  transition: all 1s;
  border: 2px solid transparent;
  cursor: pointer;
}
.item:hover{
  border: 2px solid #ffffff;
  transform: scale(1.2);

}
.item i{
  font-size: 70px;
  margin-left: -15px;
  margin-top: -25px;
}
.one{
  background: rgba(255,255,255,.6);
  grid-row: 1;
  grid-column: 2;
}

.two{
  margin-left: -100px;
  grid-row: 1;
  grid-column: 6;
}
.three{
  grid-row: 5;
  grid-column: 2;
}
.four{
  grid-row: 5;
  grid-column: 6;
}
.five{
  grid-row: 3;
  grid-column: 4;
}

.code{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.code-show{
  visibility: visible;
  animation-name: show-code;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}
.code-hide{

}

/* Game */
.myCanvas{
  margin-left: 120px;
}
.game{
  position: absolute;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 70px;
}

.todo{
  margin-left: 100px;
  margin-top: 70px;
}









/* Key Frame Animations */
@keyframes fade-in {
  0%{
    transform: scaleY(0);
  }100%{
    transform: scaleY(1);
  }
}
@keyframes fade-in-2 {
  0%{
    visibility: visible;
    opacity: 0;
    transform: rotateX(-90deg);
  }100%{
    opacity: 1;
    transform: rotateX(0deg);
    visibility: visible;
  }
}
@keyframes fade-out {
  0%{
    visibility: visible;
    transform: rotateX(0deg);
    opacity: 1;
  }
  100%{
    transform: rotateX(180deg);
    opacity: 0;
    border: 5px solid black;
  }
}

@keyframes scale-up{
  0%{transform: scale(.5);opacity: 0;}
  100%{transform: scale(1);opacity: 1;}
}
@keyframes show-code {
  0%{
    transform: translateY(200px);
  }
  100%{
    transform: translateY(0);
  }
}
